* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font: Arial;
    margin:0;
    
  }

/* .topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.topnav a:hover {
  background-color: #ddd;
  color:black;
}

.topnav a.active {
  background-color: #1F2933;
  color:white;
} */


body {
  background-color: #a9b3bd;
}
h1 {
  font-size: 3vh;
  text-align: center;
  color: #1F2933;
  padding: 10px;
}
h2 {
  text-align: center;
  color: #1F2933;
}
h3 {
  font-size: 2vh;
  text-align: center;
  color: #1F2933;
}

.head {
  background-color:#a9b3bd;
  width:100%;
  margin: auto;
  
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 5px;
}
  
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height:40%;
  border-radius:5px;
}

.recipe-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.TaskList {
    overflow: auto;
    white-space: nowrap;
    background-color:#a9b3bd;
    width: 100%;
    padding:5px;
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.2);
}

.TaskList button {
    display: inline-block;
    margin: 0.4vh;
    /* color: black; */
    text-align: center;
    padding: 50px;
    text-decoration: none;
    width: 30%;
    height: 40vh;
    background-color:#F5F5F5;
;
    border-radius: 4px;
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.2);
}

.TaskList button:hover {background-color: #777;}

/* Clear floats after the columns */
.TaskList:after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
    width: auto;
    display: block;
    margin-bottom: 20px;
}}

.btn-group{
  margin: auto;
  width: 60%;
  background-color:#747b81;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-group button {
    /* background-color: #f1f1f1; */
    color: black; 
    padding: 10px 20px; /* Some padding */
    cursor: pointer; 
    float: left; 
    border-radius: 6px;
    margin: 10px;
    height:10vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 3vh;
    text-align: center; 
    text-shadow: 0px 0px 5px black;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color:rgba(119, 119, 119, 0.397);
}

.btn1 button {background-color:rgba(245, 57, 57, 1)}
.btn2 button {background-color:rgba(255, 132, 40, 1)}
.btn3 button {background-color:rgba(248, 246, 96, 1)}
.btn4 button {background-color:rgba(87, 146, 241, 1)}
.btn5 button {background-color:rgba(135, 231, 87, 1)}

.btnStop{float: right;}
.btnStop button {background-color:rgba(245, 57, 57, 1)}
.btnStop img {height: 3vh;}


.TaskName {
  font-size:1.2rem;
  font-weight: 600;
}

.Time {
  font-size:1rem;
}
.cardImage {
  height: 8vh;
}